<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JuntosEmPortugal</title>

</head>

<body>
  <section id="home">
    <h1>JuntosEmPortugal</h1>
    <h3>Construindo laços de acolhimento para imigrante em portugal</h3>
    <!-- Conteúdo da seção "Home" -->
  </section>

  <section id="texto">
    <p>"Seja você recém-chagado(a) ou não a Portugal, é natural desejar encontrar amigos para estabelecer relações e reduzir a solidão que pode surgir nesse novo capítulode suas vidas."</p>
    <!-- Conteúdo da seção "Texto" -->
  </section>

  <section id="comunidade">
    <!-- Conteúdo da seção "Comunidade" -->
    <h1>SE CONECTE COM A GENTE</h1>
  </section>

  <section id="depoimentos">
    <!-- Conteúdo da seção "Depoimentos" -->
    <p>"Nos meus primeiros meses aqui, enfrentei um desafio. Não conhecia muitos colegas e, para sair,contava apenas com aqueles com quem trabalhava,que tinham interesses diferentes dos meus. Não tive a oportunidade de aprofundar laços com eles. A maioria das minhas conversas era com os amigos que deixei em meu país de origem. Com o tempo, acabei perdendo contato com eles devido a diferentes fatores. Hoje, estou em busca de novas amizades aqui, pois desejo viver e compartilhar esses momentos especiais com pessoas que estejam próximas a mim."</p>
    <p>Pedro, Imigrante 2 anos morando em Portugal.</p>
  </section>

  <section id="servicos">
    <!-- Conteúdo da seção "Serviços" -->
  </section>

  <section id="contato">
    <!-- Conteúdo da seção "Contato" -->
  </section>

  <footer>
    <!-- Conteúdo do footer -->
  </footer>
</body>
</html>