<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JuntosEmPortugal</title>

</head>

<body>
  <section id="home">
    <!-- Conteúdo da seção "Home" -->
  </section>

  <section id="texto">
    <!-- Conteúdo da seção "Texto" -->
  </section>

  <section id="comunidade">
    <!-- Conteúdo da seção "Comunidade" -->
  </section>

  <section id="depoimentos">
    <!-- Conteúdo da seção "Depoimentos" -->
  </section>

  <section id="servicos">
    <!-- Conteúdo da seção "Serviços" -->
  </section>

  <section id="contato">
    <!-- Conteúdo da seção "Contato" -->
  </section>

  <footer>
    <!-- Conteúdo do footer -->
  </footer>
</body>
</html>