<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JuntosEmPortugal</title>

</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#comunidade">Comunidade</a></li>
        <li><a href="#depoimentos">Depoimentos</a></li>
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>
  </header>

  <section id="home">
    <!-- Conteúdo da seção "Home" -->
  </section>

  <section id="texto">
    <!-- Conteúdo da seção "Texto" -->
  </section>

  <section id="comunidade">
    <!-- Conteúdo da seção "Comunidade" -->
  </section>

  <section id="depoimentos">
    <!-- Conteúdo da seção "Depoimentos" -->
  </section>

  <section id="servicos">
    <!-- Conteúdo da seção "Serviços" -->
  </section>

  <section id="contato">
    <!-- Conteúdo da seção "Contato" -->
  </section>

  <footer>
    <!-- Conteúdo do footer -->
  </footer>
</body>
</html>