/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos das seções */
  #home {
    background-color: #f2f2f2;
    padding: 50px;
  }
  #home h1{
    font-size: 40px;
    text-align: center;
  }
  #home h3{
    font-size: 40px;
    text-align: center;
  }
  
  #texto {
    background-color: #ffd699;
    padding: 50px;
  }
  #texto p{
    font-size: 40px;
    text-align:center;
    width: 650px;
    color: black;
  }
  
  #comunidade {
    background-color: #ccffcc;
    padding: 50px;
  }
  #comunidade h1{
    text-align: center;
    font-size: 40px;
    color: black;
    width: 100%;
  }
  #comunidade button{
    background-color: #e9e5e5;
    padding: 30px 35px;
    border: none;
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    }
  
  #depoimentos {
    background-color: #e6ccff;
    padding: 50px;
  }
  #depoimentos p{
    text-align: left;
    font-size: 20px;
    width: 600px;
  }
  
  #servicos {
    background-color: #b3d9ff;
    padding: 50px;
  }
  
  #contato {
    background-color: #ffcccc;
    padding: 50px;
  }
  
  footer {
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  