/* Estilos gerais para o footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Estilos para a coluna de redes sociais */
  .social-media {
    flex: 1;
  }
  
  .social-media h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
  }
  
  .social-media li {
    margin-bottom: 5px;
  }
  
  .social-media a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para a coluna de endereço e contato */
  .address-contact {
    flex: 1;
  }
  
  .address-contact h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .address-contact p {
    margin: 0;
  }
  
  /* Estilos para a coluna da logo */
  .logo {
    flex: 1;
    text-align: right;
  }
  
  .logo img {
    width: 100px; /* Ajuste o tamanho da logo conforme necessário */
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .social-media,
    .address-contact,
    .logo {
      margin-bottom: 20px;
    }
  }
  