<footer>
    <div class="footer-container">
      <div class="social-media">
        <h3>Redes Sociais</h3>
        <ul>
          <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
  
      <div class="address-contact">
        <h3>Endereço e Contato</h3>
        <p>Endereço: Rua ABC, 123</p>
        <p>Telefone: (00) 1234-5678</p>
        <p>Email: contato@example.com</p>
      </div>
  
      <div class="logo">
        <img src="logo.png" alt="Logo do Projeto">
      </div>
    </div>
</footer>  